<h1>Welcome to Meadowlark Travel</h1>
<p>uptime: {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</p>
<h2>Absolute URLs</h2>
<p><a href="/about">about</a></p>
<p><a href="/newsletter">sign up email</a></p>
<p><a href="/contest/vacation-photo">upload photos</a></p>
<p><a href="/cart/checkout">checkout</a></p>
<h2>Relative URLs</h2>
{{> weather}}